<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rbacmanager.permission.mapper.PermissionMapper">
    <select id="listPermissions" resultType="com.rbacmanager.permission.pojo.Permission">
        SELECT * FROM permission
    </select>

    <select id="selectPermissionNameByPermissionId" resultType="string">
        SELECT permission_name FROM permission WHERE permission_id = #{id}
    </select>

    <delete id="deleteByPrimaryKey">
        DELETE FROM permission WHERE permission_id = #{id}
    </delete>

</mapper>