<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rbacmanager.permission.mapper.RoleMapper">
    <select id="listRoles" resultType="com.rbacmanager.permission.pojo.Role">
        SELECT * FROM role
    </select>

    <select id="selectByPrimaryKey" resultType="com.rbacmanager.permission.pojo.Role">
        SELECT * FROM role WHERE role_id = #{id}
    </select>

    <select id="selectRoleNameByRoleId" resultType="string">
        SELECT role_name FROM role WHERE role_id = #{id}
    </select>

    <select id="selectRolePermission" resultType="map">
        SELECT permission_name FROM role_permission WHERE role_id = #{id}
    </select>

    <insert id="addUserRole" keyProperty="id"  useGeneratedKeys="true" parameterType="com.rbacmanager.permission.pojo.UserRole">
        INSERT INTO user_role
        (user_id, username, role_id, role_name)
        VALUES
        (#{user_id}, #{username}, #{role_id}, #{role_name})
    </insert>

    <delete id="deleteByPrimaryKey">
        DELETE FROM role WHERE role_id = #{id}
    </delete>

    <delete id="deleteUserRoleByRolePrimaryKey">
        DELETE FROM user_role WHERE role_id = #{id}
    </delete>

    <delete id="deleteRolePermissionByRolePrimaryKey">
        DELETE FROM role_permission WHERE role_id = #{id}
    </delete>

</mapper>