<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rbacmanager.permission.mapper.RoleMapper">
    <select id="listRoles" resultType="com.rbacmanager.permission.pojo.Role">
        SELECT * FROM role
    </select>

    <select id="selectByPrimaryKey" resultType="com.rbacmanager.permission.pojo.Role">
        SELECT * FROM role WHERE role_id = #{id}
    </select>

    <select id="selectRoleNameByRoleId" resultType="string">
        SELECT role_name FROM role WHERE role_id = #{id}
    </select>

    <delete id="deleteByPrimaryKey">
        DELETE FROM role WHERE role_id = #{id}
    </delete>

</mapper>